INTEGRATION_HUB_BASE_URL=http://localhost:3200
MENU_PLANNING_BASE_URL=http://localhost:3500
GOOGLE_DELIVERED_IN_TEMPLATE_ID=
GOOGLE_DELIVERED_IN_OUTPUT_FOLDER_ID=
GOOGLE_OAUTH_CLIENT_FILE=../../secrets/google-oath-client.json
GOOGLE_OAUTH_TOKEN_FILE=../../secrets/google-token.json
GRAB_N_GO_ROTATION_WEEK_1_DATE=2026-08-24
